html {
  font-family: Vera sans, sans-serif;
  margin-left: calc(100vw - 100%);
}

body {
  background-color: #fcfcfc;
  color: rgb(88, 77, 77);
  max-width: 800px;
  text-align: left;
  padding: 2ch;
  margin: auto;
}

header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #a0a0a0;
  justify-content: space-between;
}

#navbar span:after{content:'\22C4'; padding: 0 5px 0 10px;}
#navbar span:last-child:after{content:''; display: none;}

time {
  color: #999;
}

h1 {
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5 {
  font-family: et-book,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

code {
  font-size: 14px;
  background-color: #eee;
}

pre {
  font-family: Liberation Mono, Consolas, monospace, Courier;
  font-variant-ligatures: none;
  font-size: 15px;
  line-height: 1.1;
  overflow-x: auto;
  padding: .25rem 1em;
  color: #000;
  background-color: #eee;
}

blockquote {
  background-color: #eee;
  font-size: 16px;
  margin-left: 32px;
  border-left: 4px solid #CCC;
  padding: 1px 0px 1px 8px;
}

hr {
  margin-top: 2rem;
}

p, li {
  line-height: 1.4;
}

span.description:before { content:'\2014  '; }

::selection {
  background: #002b36;
  color: #ccc;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #002b36;
    color: #fdf6e3;
  }
  code, pre, blockquote {
    background-color: #003340;
    color: #93a1a1;
  }
  a {
    color: #fdf6e3;
  }
  ::selection {
    background: #ececec;
    color: #000;
  }
}
